.container-fluid {
    height: 100vh;
    overflow-y: visible;
}

.logo {
    margin: 23px 0 0 23px;
    max-width: 91px;
}
.channel-img-fixed {
    background-image: url(/assets/bydefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

form {
    min-width: 380px;
}