<div class="container-fluid">
    <div class="row align-items-stretch"
         style="min-height: 100%;">
        <section class="col-md-4 bg-primary text-white">
            <div class="channel-img-fixed">
                <img class="logo"
                     src="/assets/logo.svg"
                     alt="">
            </div>
        </section>
        <section class="col-md d-flex align-items-center justify-content-center">
            <form>
                <h4 class="text-primary fw-bold mb-4 text-center">Banca por Internet</h4>
                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="cardNumber"
                           placeholder="Número de tarjeta">
                    <label for="cardNumber">Número de tarjeta</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password"
                           class="form-control"
                           id="cardNumber"
                           placeholder="Número de tarjeta">
                    <label for="cardNumber">Clave de internet de 6 dígitos</label>
                </div>
                <button class="btn btn-warning btn-lg w-100">Ingresar</button>
            </form>
        </section>
    </div>
</div>